<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restore account</title>
    <link rel="stylesheet" href="../static/css/forgot_password.css">
</head>
<body>
<div class="center">
    <h1>Enter Name and Email </h1>
    <form  action="javascript:alert('check your email');">
        <div class="data">
            <input type="text" required>
            <span></span>
            <label>UserName</label>
        </div>
        <div class="data">
            <input type="text" required>
            <span></span>
            <label>email</label>
        </div>
        <input type="submit" value ="Get new password">
    </form>
    <form  action="/">
           <button>Cancel</button>
    </form>
</div>
</body>
</html>