<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up Page</title>
    <link rel="stylesheet" href="../static/css/sign_up.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div class="center" >
    <div id="message">
        <h1 >Register</h1>
    </div>
    <form  action="javascript:func()">
        <div class="data">
            <input type="text" id="name" placeholder=" ">
            <span></span>
            <label>Name</label>
        </div>
        <div class="data">
            <input type="text" id="surname" placeholder=" ">
            <span></span>
            <label>Surname</label>
        </div>
        <div class="data">
            <input type="text" id="username" placeholder=" ">
            <span></span>
            <label>UserName</label>
        </div>
        <div class="data">
            <input type="password" id="password1" placeholder=" ">
            <span></span>
            <label>Password</label>
        </div>
        <div class="data">
            <input type="password" id="password2" placeholder=" ">
            <span></span>
            <label>Repeat password</label>
        </div>
        <div class="data">
            <input type="text" id="email" placeholder=" ">
            <span></span>
            <label>Enter Email</label>
        </div>
        <h4>password must have 3 numbers + 5 letters (1 upper)</h4>
       <input type="submit" value ="Register">
    </form>
    <form  action="/">
        <button>Cancel</button>
    </form>
</div>
</body>
<script src="../static/js/sign_up.js"></script>
</html>