<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update event</title>
    <link rel="stylesheet" href="../static/css/update_event.css">
</head>
<body>
<div class="center">
    <h1>Update Event</h1>
    <form  action="menu.html">
        <div class="data">
            <input type="text" required>
            <span></span>
            <label>Name</label>
        </div>
        <div class="data">
            <input type="date" required>
        </div>
        <div class="data">
            <input type="text" required>
            <span></span>
            <label>description</label>
        </div>

        <input type="submit" value ="Save">
    </form>
    <form action="menu.html">
        <button>Cancel</button>
    </form>
</div>
</body>
</html>