<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
    <link rel="stylesheet" href="../static/css/user.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div class="center">
    <div id="message">
        <h1>Update User Data</h1>
    </div>
    <form id="confirm" action="javascript:CheckPassword()">
        <div class="data">
            <input type="password" id ='check' placeholder=" ">
            <span></span>
            <label>Enter Password</label>
        </div>
        <input type="submit" value ="Confirm">
    </form>

    <form id="field"  style="display:none;" action="javascript:ChangeData()">
        <div class="data">
            <input type="text" id="username" value='{{username}}' placeholder=" ">
            <span></span>
            <label>UserName</label>
        </div>
        <div class="data">
            <input type="text" id="name" value='{{name}}' placeholder=" ">
            <span></span>
            <label>Name</label>
        </div>
        <div class="data">
            <input type="text" id="surname" value='{{surname}}' placeholder=" " >
            <span></span>
            <label>Surname</label>
        </div>
        <div class="data">
            <input type="text" id="email" value='{{email}}' placeholder=" ">
            <span></span>
            <label>Enter Email</label>
        </div>
        <div class="data">
            <input type="password"  id="password1" placeholder=" ">
            <span></span>
            <label>New Password</label>
        </div>
        <div class="data">
            <input type="password" id="password2" placeholder=" ">
            <span></span>
            <label>Confirm New Password</label>
        </div>
        <input type="submit" value ="Save">
    </form>
    <form  action="/menu">
        <button>Cancel</button>
    </form>
    <script>
        function func()
    {
        var x = document.getElementById("field");
            x.style.display = "block";
        x = document.getElementById("confirm");
            x.style.display = "none";
    }
    function CheckPassword()
    {
    var check=$("#check").val();
    $.ajax({
        url:'/user',
        type:'post',
        data:{'check':check},
        success: function(resp)
        {
        if(resp['message']=='Success'){
            func();
            document.getElementById("message").innerHTML ='<h1>Update User Data</h1>';
        }
        else
            document.getElementById("message").innerHTML ='<h1 style="color:crimson;font-size:16px;">Access denied</h1>';
        }
    });
    }
    function ChangeData()
    {
    var name_value=$("#name").val();
    var surname_value=$("#surname").val();
    var username_value=$("#username").val();
    var password_value1=$("#password1").val();
    var password_value2=$("#password2").val();
    var email_value=$("#email").val();
    $.ajax({
        url:'/change_user_data',
        type:'post',
        data:{'name':name_value,
            'surname':surname_value,
            'username':username_value,
            'password1':password_value1,
            'password2':password_value2,
            'email':email_value,
            },
        success: function(resp)
        {
        if(resp['message']=='Success')
            window.location.href='/menu';
        else
            document.getElementById("message").innerHTML ='<h1 style="color:crimson;font-size:16px;">'+resp["message"]+'</h1>';
        }
    });
    }
    </script>
</div>

</body>
</html>